[package]
name = "p1411_number_of_ways_to_paint_n_x_3_grid"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
