[package]
name = "p3325_count_substrings_with_k_frequency_characters_i"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
