[package]
name = "p3566_minimum_absolute_difference_in_sliding_submatrix"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
