[package]
name = "p3428_maximum_and_minimum_sums_of_at_most_size_k_subsequences"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
